# evaluate performance of Extreme Gradient Boosting using selected features

## import libraries

In [1]:
import joblib
import os
import numpy as np
import pandas as pd
import xgboost as xgb

from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

## define paths

In [2]:
os.makedirs('models', exist_ok=True)
os.makedirs('output', exist_ok=True)

model_path = 'models/xgb.joblib'
output_path = 'output/xgb_prediction.csv'

train_transaction_data_path = 'data/train_transaction.csv'
train_identity_data_path = 'data/train_identity.csv'
test_transaction_data_path = 'data/test_transaction.csv'
test_identity_data_path = 'data/test_identity.csv'

## define utility function to reduce memory usage

In [3]:
def reduce_mem_usage(df, verbose=True):
    """
    Reduce dataframe size

    params:
    - df: dataframe to reduce the size of

    return:
    - dataframe of reduced size
    """
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64', 'float128']
    start_mem = df.memory_usage().sum() / 1024**2    

    for col in df.columns:
        col_type = df[col].dtypes

        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()

            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                elif c_min > np.finfo(np.float64).min and c_max < np.finfo(np.float64).max:
                    df[col] = df[col].astype(np.float64)
                elif c_min > np.finfo(np.float128).min and c_max < np.finfo(np.float128).max:
                    df[col] = df[col].astype(np.float128)
                    
    end_mem = df.memory_usage().sum() / 1024**2

    if verbose: 
        print(
            'Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(
            end_mem, 100 * (start_mem - end_mem) / start_mem
        ))

    return df

## list down useless features (known from feature selection)

In [4]:
useless_features = [
    'TransactionID',  # not really a feature
    'dist2',  # transaction features
    'C3',  # C features
    'D6', 'D7', 'D8', 'D9', 'D12', 'D13', 'D14',  # D features
    'M1',  # M features
    'id_07', 'id_08', 'id_18', 'id_21', 'id_22', 'id_23',  # id features
    'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_35',  # id features
    'V6', 'V8', 'V9', 'V10', 'V11', 'V14', 'V15', 'V16',  # V features
    'V18', 'V21', 'V22', 'V27', 'V28', 'V31', 'V32',  # V features
    'V41', 'V42', 'V46', 'V50', 'V51', 'V59', 'V65',  # V features
    'V68', 'V71', 'V72', 'V79', 'V80', 'V84', 'V85',  # V features
    'V88', 'V89', 'V92', 'V93', 'V95', 'V98', 'V101',  # V features
    'V104', 'V106', 'V107', 'V108', 'V109', 'V110',  # V features
    'V111', 'V112', 'V113', 'V114', 'V116', 'V117',  # V features
    'V118', 'V119', 'V120', 'V121', 'V122', 'V123',  # V features 
    'V125', 'V138', 'V141', 'V142', 'V144', 'V146',  # V features 
    'V147', 'V148', 'V151', 'V153', 'V154', 'V155',  # V features 
    'V157', 'V158', 'V159', 'V161', 'V163', 'V164',  # V features 
    'V166', 'V172', 'V173', 'V174', 'V175', 'V176',  # V features 
    'V177', 'V178', 'V179', 'V180', 'V181', 'V182',  # V features  
    'V183', 'V184', 'V185', 'V186', 'V190', 'V191',  # V features  
    'V192', 'V193', 'V194', 'V195', 'V196', 'V197',  # V features  
    'V198', 'V199', 'V214', 'V216', 'V220', 'V225',  # V features 
    'V226', 'V227', 'V230', 'V233', 'V235', 'V236',  # V features  
    'V237', 'V238', 'V239', 'V240', 'V241', 'V242',  # V features 
    'V244', 'V246', 'V247', 'V248', 'V249', 'V250',  # V features 
    'V252', 'V254', 'V255', 'V269', 'V276', 'V297',  # V features 
    'V300', 'V302', 'V304', 'V305', 'V325', 'V327',  # V features  
    'V328', 'V329', 'V330', 'V334', 'V335', 'V336',  # V features 
    'V337', 'V338', 'V339',  # V features 
]

## define function to disregard OS versions

In [5]:
def ignore_os_version(df, verbose: bool=True):
    """
    params:
    - df (DataFrame): has id_30 as one of its columns
    - verbose (bool): prints information if True

    return: dataframe, after os versions have been ignored
    """
    os_list = [
        'Android',
        'iOS',
        'Mac OS X',
        'Windows',
    ]

    for index, operating_system in df.id_30.iteritems():
        new_os = 'other'

        if isinstance(operating_system, str):
            for known_os in os_list:
                if known_os in operating_system:
                    new_os = known_os
                    break

        df.at[index, 'id_30'] = new_os

    if verbose:
        print('operating systems:', df.id_30.unique())

    return df

## define function to disregard browser versions

In [6]:
def ignore_browser_version(df, verbose: bool=True):
    """
    params:
    - df (DataFrame): has id_31 as one of its columns
    - verbose (bool): prints information if True

    return: dataframe, after browser versions have been ignored
    """
    browser_list = [
        'aol',
        'chrome',
        'chromium',
        'comodo',
        'cyberfox',
        'edge',
        'firefox',
        'icedragon',
        'ie',
        'iron',
        'maxthon',
        'opera',
        'palemoon',
        'puffin',
        'safari',
        'samsung',
        'seamonkey',
        'silk',
        'waterfox',
    ]

    for index, browser in df.id_31.iteritems():
        new_browser = 'other'

        if isinstance(browser, str):
            for known_browser in browser_list:
                if known_browser in browser:
                    new_browser = known_browser
                    break

        df.at[index, 'id_31'] = new_browser

    if verbose:
        print('browsers:', df.id_31.unique())

    return df

## define function for preprocessing data

In [7]:
def preprocess(df, verbose: bool=True):
    """
    Does the following preprocessing steps:
    - disregard os versions
    - disregard browser versions
    - drop useless features
    - convert object columns to string columns
    - imputation (for numbers, fill with interquartile mean)
    - do label encoding for non-numeric values
    - reduce memory usage again

    params:   
    - df (DataFrame): dataframe to preprocess (has columns id_30 and id_31)
    - verbose (bool): prints information if True

    return: dataframe, preprocessing is complete
    """
    df = df.drop(useless_features, axis=1)
    df = ignore_os_version(df, verbose)
    df = ignore_browser_version(df, verbose)

    le = LabelEncoder()

    for column in df.columns:
        if df[column].dtype == 'object':
            df[column]= df[column].astype(str)
            df[column] = le.fit_transform(df[column])
        else:
            df[column] = df[column].fillna(df[column].quantile().mean())

    df = reduce_mem_usage(df, verbose)

    return df

## load training data

In [8]:
transaction_dataframe = pd.read_csv(train_transaction_data_path)
transaction_dataframe = reduce_mem_usage(transaction_dataframe)

identity_dataframe = pd.read_csv(train_identity_data_path)
identity_dataframe = reduce_mem_usage(identity_dataframe)

dataframe = transaction_dataframe.merge(identity_dataframe, how='outer')

del transaction_dataframe
del identity_dataframe

print(f'number of rows in training data: {len(dataframe)}')
dataframe.head()

Mem. usage decreased to 542.35 Mb (69.4% reduction)
Mem. usage decreased to 25.86 Mb (42.7% reduction)
number of rows in training data: 590540

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

## preprocess training data

In [9]:
dataframe = preprocess(dataframe)
dataframe.head()

operating systems: ['other' 'Android' 'iOS' 'Mac OS X' 'Windows']
browsers: ['other' 'samsung' 'safari' 'chrome' 'edge' 'firefox' 'ie' 'opera' 'aol'
 'silk' 'waterfox' 'puffin' 'cyberfox' 'palemoon' 'maxthon' 'iron'
 'seamonkey' 'comodo' 'chromium' 'icedragon']
Mem. usage decreased to 357.35 Mb (22.1% reduction)

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_30,id_31,id_32,id_33,id_34,id_36,id_37,id_38,DeviceType,DeviceInfo
0,0,86400,68.5,4,13926,361.0,150.0,1,142.0,1,...,4,12,24.0,260,4,2,2,2,2,1742
1,0,86401,29.0,4,2755,404.0,150.0,2,102.0,1,...,4,12,24.0,260,4,2,2,2,2,1742
2,0,86469,59.0,4,4663,490.0,150.0,4,166.0,2,...,4,12,24.0,260,4,2,2,2,2,1742
3,0,86499,50.0,4,18132,567.0,150.0,2,117.0,2,...,4,12,24.0,260,4,2,2,2,2,1742
4,0,86506,50.0,1,4497,514.0,150.0,2,102.0,1,...,0,16,32.0,164,3,0,1,1,1,954

## separate data into features and target variable

In [10]:
features_dataframe = dataframe.drop('isFraud', axis=1)
is_fraud_data = dataframe['isFraud']

del dataframe

## split into training and validation sets

In [11]:
train_features, val_features, train_target, val_target = train_test_split(
    features_dataframe, 
    is_fraud_data, 
    test_size=0.2,
)

del features_dataframe
del is_fraud_data

## train XGB classifier

- using [reference notebook parameters](https://www.kaggle.com/cdeotte/xgb-fraud-with-magic-0-9600#Kaggle-Submission-File-XGB_96)

In [12]:
%%time

classifier = xgb.XGBClassifier(
    n_estimators=5000,
    max_depth=12,
    learning_rate=0.02,
    subsample=0.8,
    colsample_bytree=0.4,
    missing=-1,
    eval_metric='auc',
    tree_method='gpu_hist',  # for cpu, use 'hist'
)

classifier.fit(
    train_features,
    train_target,
    eval_set=[(train_features, train_target), (val_features, val_target)],
    verbose=500,
    early_stopping_rounds=200,
)

prediction = classifier.predict_proba(val_features)[:, 1]
roc_auc_score(val_target, prediction)

[0]	validation_0-auc:0.83340	validation_1-auc:0.83743
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[500]	validation_0-auc:0.99054	validation_1-auc:0.96457
[1000]	validation_0-auc:0.99707	validation_1-auc:0.97155
[1500]	validation_0-auc:0.99899	validation_1-auc:0.97404
[2000]	validation_0-auc:0.99971	validation_1-auc:0.97522
[2500]	validation_0-auc:0.99994	validation_1-auc:0.97571
[3000]	validation_0-auc:0.99999	validation_1-auc:0.97584
Stopping. Best iteration:
[3063]	validation_0-auc:0.99999	validation_1-auc:0.97587

CPU times: user 1h 37min 25s, sys: 1min 50s, total: 1h 39min 15s
Wall time: 8min 34s

0.9758718904602564

## save model

In [13]:
joblib.dump(classifier, model_path)

['models/xgb.joblib']

## load test data

In [14]:
transaction_dataframe = pd.read_csv(test_transaction_data_path)
transaction_dataframe = reduce_mem_usage(transaction_dataframe)

identity_dataframe = pd.read_csv(test_identity_data_path)
identity_dataframe = reduce_mem_usage(identity_dataframe)
identity_dataframe = identity_dataframe.rename(
    columns={
        column: column.replace('-', '_')
        for column in identity_dataframe.columns
    }
)

dataframe = transaction_dataframe.merge(identity_dataframe, how='outer')
transaction_id_data = dataframe['TransactionID']  # need it for output

del transaction_dataframe
del identity_dataframe

print(f'number of rows in test data: {len(dataframe)}')
dataframe.head()

Mem. usage decreased to 472.59 Mb (68.9% reduction)
Mem. usage decreased to 25.44 Mb (42.7% reduction)
number of rows in test data: 506691

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,3663549,18403224,31.953125,W,10409,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3663550,18403263,49.000000,W,4272,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3663551,18403310,171.000000,W,4476,574.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3663552,18403310,285.000000,W,10989,360.0,150.0,visa,166.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3663553,18403317,67.937500,W,18018,452.0,150.0,mastercard,117.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## preprocess test data

In [15]:
dataframe = preprocess(dataframe)
dataframe.head()

operating systems: ['other' 'Android' 'iOS' 'Windows' 'Mac OS X']
browsers: ['other' 'chrome' 'ie' 'safari' 'edge' 'firefox' 'samsung' 'opera'
 'palemoon']
Mem. usage decreased to 315.73 Mb (21.6% reduction)

,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,...,id_30,id_31,id_32,id_33,id_34,id_36,id_37,id_38,DeviceType,DeviceInfo
0,18403224,31.953125,4,10409,111.0,150.0,4,226.0,2,170.0,...,4,5,24.0,390,2,2,2,2,2,2184
1,18403263,49.000000,4,4272,111.0,150.0,4,226.0,2,299.0,...,4,5,24.0,390,2,2,2,2,2,2184
2,18403310,171.000000,4,4476,574.0,150.0,4,226.0,2,472.0,...,4,5,24.0,390,2,2,2,2,2,2184
3,18403310,285.000000,4,10989,360.0,150.0,4,166.0,2,205.0,...,4,5,24.0,390,2,2,2,2,2,2184
4,18403317,67.937500,4,18018,452.0,150.0,2,117.0,2,264.0,...,4,5,24.0,390,2,2,2,2,2,2184

## load model

- if model is no longer in memory (e.g. due to restarting of notebook)

In [16]:
classifier = joblib.load(model_path)

## do inference on test data

In [17]:
prediction = classifier.predict_proba(dataframe)[:, 1]
del dataframe

## create output dataframe

In [18]:
output_dataframe = pd.DataFrame({
    'TransactionID': transaction_id_data,
    'isFraud': pd.Series(prediction),
})

output_dataframe.head()

   TransactionID   isFraud
0        3663549  0.000100
1        3663550  0.000034
2        3663551  0.000236
3        3663552  0.000205
4        3663553  0.000031

## save output as csv

In [19]:
output_dataframe.to_csv(output_path, index=False)

## Kaggle result

- public score: 0.937507
- public ranking: rank 3795 out of 6347 (~59.79%)
- private score: 0.908053
- private ranking: rank 3601 out of 6347 (~56.73%)

total number 6347 or 6381?